# cache
__pycache__/
/.ruff_cache/
/.pytest_cache/

# config
/configs/*.toml

# runtime
temp/
/.venv/
/log.out*
/plugins/*/data/

# local plugins
/plugins/TheresaLuck/
/plugins/TheresaCardSP/
